{{- $cluster := .Values.cluster.name }}
{{- range .Values.connection_strings }}
{{- $cs := . }}
{{- $dialect := $cs.dialect | default "postgresql" }}
{{- $dbName := $cs.database }}
{{- $owner := $cs.user | default $dbName }}
{{- $host := printf "%s-rw" $cluster }}
{{- $password := "" }}

# Optionally resolve password from roles if defined
{{- range $.Values.roles }}
  {{- if eq .name $owner }}
    {{- $password = .password }}
  {{- end }}
{{- end }}

{{- $uri := printf "%s://%s:%s@%s:5432/%s" $dialect $owner $password $host $dbName }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-%s-connection-string" $cluster $dbName }}
  labels:
    app.kubernetes.io/name: {{ $.Chart.Name }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
type: Opaque
stringData:
  connection-string: {{ $uri | quote }}
  host: {{ $host | quote }}
  dbname: {{ $dbName | quote }}
  username: {{ $owner | quote }}
  password: {{ $password | quote }}
{{- end }}
