worker:
  apiConfig: selfHostedServer
  replicaCount: 2
  config:
    workPool: celine
    jobNamespace: celine-{{ .Environment.Name }}
  selfHostedServerApiConfig:
    apiUrl: http://prefect-server:4200/api
