{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "celine-frontend-assistant.fullname" . }}
  annotations:
    nginx.ingress.kubernetes.io/auth-url: "{{ .Values.ingress.annotations.nginx.ingress.kubernetes.io/auth-url }}"
    nginx.ingress.kubernetes.io/auth-signin: "{{ .Values.ingress.annotations.nginx.ingress.kubernetes.io/auth-signin }}"
    nginx.ingress.kubernetes.io/auth-response-headers: "{{ .Values.ingress.annotations.nginx.ingress.kubernetes.io/auth-response-headers }}"
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "celine-frontend-assistant.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ .Values.ingress.tls.secretName | default .Values.fullnameOverride + "-tls" }}
  {{- end }}
{{- end }}
