image:
  tag: {{ .Environment.Values.digital_twin.image_tag | default "latest" | quote }}

oidc:
  service:
    clientSecret: {{ .Environment.Values | dig "digital_twin" "client_secret" "svc-digital-twin" | quote }}
