image:
  tag: {{ .Environment.Values.ai_assistant.image_tag | default "latest" | quote }}

oidc:
  service:
    clientSecret: {{ .Environment.Values | dig "ai_assistant" "client_secret" "svc-ai-assistant" | quote }}

extraEnv:
  - name: QDRANT_URL
    value: http://qdrant:6333
  - name: OPENAI_API_KEY
    value: {{ .Environment.Values.ai_assistant.openai_api_key | quote }}