{{- /*
  Extends the library default deployment by injecting the config ConfigMap
  volume. Everything else is handled by celine-services.deployment.
*/ -}}
{{- $vol := list (fromYaml (include "celine-services.configVolume" .)) }}
{{- $mnt := list (fromYaml (include "celine-services.configVolumeMount" .)) }}
{{- $_ := set .Values "volumes" (concat .Values.volumes $vol) }}
{{- $_ := set .Values "volumeMounts" (concat .Values.volumeMounts $mnt) }}
{{ include "celine-services.deployment" . }}
