{{- if .Values.seaweed.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: seaweedfs-s3-config
type: Opaque
stringData:
  s3.json: |
    {
      "identities": [
        {{- range $index, $user := .Values.seaweed.users }}
        {{- if $index}},{{- end }}
        {
          "name": "{{ $user.name }}",
          "credentials": [
            {
              "accessKey": "{{ $user.accessKey }}",
              "secretKey": "{{ $user.secretKey }}"
            }
          ],
          "actions": [{{ range $i, $act := $user.actions }}{{- if $i}}, {{- end }}"{{ $act }}"{{ end }}]
        }
        {{- end }}
      ]
    }
{{- end }}